<img src="{{ image }}" />
<h2>Récapitulatif de votre commande</h2>
<br/>

<strong>Date réservation : </strong>{{ commande.dateReservation|date('d/m/Y') }}
<br/>

<table>
    <caption>Vos billets </caption>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Pays</th>
        <th>Catégorie du Billet</th>
        <th>Prix du billet</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="4">Total Commande</th>
        <th>
            {{ commande.prixCommande }} €
        </th>
    </tr>
    </tfoot>
    <tbody>

    {% for billet in commande.billets %}
        <tr>
            <td>{{ billet.nom }}</td>
            <td>{{ billet.prenom }}</td>
            <td>Pays ticket</td>
            <td>{{ billet.categorie.nom }}</td>

            <td>{{ billet.categorie.tarif }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
