{# On utilise le layout général, qui se situe dans ce même AppBundle #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}
    Choix des billets - {{ parent() }}
{% endblock %}

{% block body %}

    {{ include("AppBundle:ticket:bandeau.html.twig") }}

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h3><span class="label label-danger">Etape 2 : Choix Billets</span></h3>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Commande n° {{ commande.numCommande }}</div>
                    <div class="panel-body">
                        Reservation le : {{ commande.dateReservation|date('d/m/Y') }} <br/>
                        Nombre de Billet : {{ nbreBillet }}
                    </div>
            </div>
    </div>
    <br/>

    <div class="container"></div>

    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>


    {{ form_start(form) }}
    <div class="row">

        {% for billet in form.billets %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Billet</div>
                <div class="panel-body">
                    {{ form_row(billet.nom) }}
                    {{ form_row(billet.prenom) }}
                    {{ form_row(billet.dateNaissance) }}
                    {{ form_row(billet.tarifReduit) }}
                    {{ form_row(billet.pays) }}
                </div>
            </div>
        </div>
        {% endfor %}


        {{ form_end(form) }}




    </div>





    <div class="row" id="formBillets" nbre="{{ nbreBillet }}">


    </div>

{% endblock %}