{# On utilise le layout général, qui se situe dans ce même AppBundle #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}
    Choix des billets - {{ parent() }}
{% endblock %}

{% block body %}

    {{ include("AppBundle:ticket:bandeau.html.twig") }}

    <div class="row">
        <div class="col-md-3">
            <h3><span class="label label-primary">Etape 1 : Sélection Date</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 2 : Choix Billets</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 3 : Confirmation</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 4 : Paiement</span></h3>
        </div>
    </div>
    <br/>

    <div class="container"></div>

    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    Nombre billet commandé {{ nbreBillet }}

    {{ form_start(form) }}
    <div class="row">

        {% for billet in form.billets %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Billet</div>
                <div class="panel-body">
                    {{ form_row(billet.nom) }}
                    {{ form_row(billet.prenom) }}
                    {{ form_row(billet.dateNaissance) }}
                    {{ form_row(billet.tarifReduit) }}
                    {{ form_row(billet.nationalite) }}
                </div>
            </div>
        </div>
        {% endfor %}


        {{ form_end(form) }}




    </div>





    <div class="row" id="formBillets" nbre="{{ nbreBillet }}">


    </div>

{% endblock %}