{# On utilise le layout général, qui se situe dans ce même AppBundle #}
{% extends "::base.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

    {{ include("AppBundle:ticket:bandeau.html.twig") }}

    <div class="container"></div>

    <div class="row">
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 1 : Sélection Date</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 2 : Choix Billets</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 3 : Confirmation</span></h3>
        </div>
        <div class="col-md-3">
            <h3><span class="label label-default">Etape 4 : Paiement</span></h3>
        </div>
    </div>
    <br/>
    <div class="row">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    <div class="row">

        <div class="col-md-8">
            <img id="panel-img-1" src="{{ asset('images/louvre2.jpg') }}" class="img-responsive">
        </div>
        <div class="col-md-4">
           <div id="datePicker"></div>
        </div>
        <div class="col-md-4">

            {{ form_start(form) }}
            {{ form_row(form.dateReservation) }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}