{# On utilise le layout général, qui se situe dans ce même AppBundle #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}
    Récapitulatif commande - {{ parent() }}
{% endblock %}

{% block body %}

    {{ include("AppBundle:ticket:bandeau.html.twig") }}


    <div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h3><span class="label label-danger">Etape 3 : Récapitulatif et confirmation</span></h3>
    </div>
    {% set reduit = false %}
     {% for billet in commande.billets %}
         {% if billet.categorie == 'reduit' %}
             {% set reduit = true %}
         {% endif %}
     {% endfor %}
    {% if reduit == true %}
    <div class="col-md-4 alert alert-danger">Pour les biilets à "tarif réduit",
        il faudra vous munir d'un justificatif à présenter à l'accueil du musée.</div>
    {% endif %}


    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Catégorie du billet</th>
                <th>Prix</th>
            </tr>
            </thead>
        {% for billet in commande.billets %}
            <tr>
            <td>{{ billet.nom }}</td>
                <td>{{ billet.prenom }}</td>
                <td>{{ billet.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ billet.categorie.nom }}</td>
                <td>{{ billet.categorie.tarif }} €</td>
            </tr>
        {% endfor %}
            <tr><td colspan="4" class="text-center"><strong>TOTAL COMMANDE</strong></td><td>{{ commande.prixCommande }} €</td></tr>
        </table>



    </div>

    <div class="row">
        {{ form(form) }}
    </div>


{% endblock %}