{# On utilise le layout général, qui se situe dans ce même AppBundle #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}
    Récapitulatif commande - {{ parent() }}
{% endblock %}

{% block body %}

    {{ include("AppBundle:ticket:bandeau.html.twig") }}

    <div class="container"></div>


    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    Nombre de billet : {{ commande.nbreBillet }}


    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Catégorie du billet</th>
                <th>Prix</th>
            </tr>
            </thead>
        {% for billet in commande.billets %}
            <tr>
            <td>{{ billet.nom }}</td>
                <td>{{ billet.prenom }}</td>
                <td>{{ billet.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ billet.categorie.nom }}</td>
                <td>{{ billet.categorie.tarif }} €</td>
            </tr>
        {% endfor %}
            <tfoot><strong>TOTAL Commande : </strong> {{ commande.prixCommande }} €</tfoot>
        </table>



    </div>

    <div class="row">
        {{ form(form) }}
    </div>


{% endblock %}